<a href="/" class="logo"><%= siteName %></a>
<div class="modal">
  <div class="message">Your Link Has Expired :(</div>
  <div class="submessage">
    Your link has already been used. If this is your<br>
    first time using this link,
    <a href="/contact">contact support</a>.
  </div>
  <a href="/login" class="button">Login In</a>
</div>
