<a href="/" class="logo">
  <%= siteName %>
  <sup>Beta</sup>
</a>
<div class="modal">
  <div class="message">Your Link Has Expired :(</div>
  <div class="submessage">
    Your link has already been used. If this is your<br>
    first time using this link,
    <a class="contact-link" href="mailto:team@copylot.io">contact support</a>.
  </div>
  <% if(user) { %>
    <a href="/projects" class="button">Open Dashboard</a>
  <% } else { %>
    <a href="/login" class="button">Login In</a>
  <% } %>
</div>
