<a href="/projects" class="logo">
  <%= siteName %>
  <sup>Beta</sup>
</a>
<div class="modal" method="POST">
  <div class="message">Change Password</div>
  <form action="/account/password">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <input type="password" class="input" name="old_password" placeholder="Old Password" step="1" pattern=".{6,}" autofocus required>
    <input type="password" class="input" name="new_password" placeholder="New Password" step="2" pattern=".{6,}" required>
    <input type="submit" class="button" value="Update Password!">
  </form>
</div>
<div class="bottom-text">
  Ready to get back to work?
  <a href="/projects">Open Dashboard</a>
</div>
