<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css?r=tx9uy8ydn8aug14i">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include ../partials/css.ejs %>
    <link rel="stylesheet" href="/styles/error/index.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <div class="background error"></div>
    <%- body %>
    <% include ../partials/footer.ejs %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    <script src="/min/production.min.js?r=tx9uy8ydn8aug14i"></script>
    <!--SCRIPTS END-->
  </body>
</html>
