<!DOCTYPE html>
<html>
  <head>
    <% include partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=l1o9nwrkpf2edn29">
    <link rel="stylesheet" href="/styles/global/index.css?r=l1o9nwrkpf2edn29">
    <link rel="stylesheet" href="/styles/global/sweetalert.css?r=l1o9nwrkpf2edn29">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include partials/css.ejs %>
    <link rel="stylesheet" href="/styles/error/index.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <div class="background <%= template.replace(/\//g, "_") + ' ' + template.split("/")[0] %>"></div>
    <%- body %>
    <% include partials/footer.ejs %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include partials/config.ejs %>
    <% include partials/javascript.ejs %>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    <script src="/js/global/sweetalert.min.js?r=l1o9nwrkpf2edn29"></script>
    <!--SCRIPTS END-->
  </body>
</html>
