<!DOCTYPE html>
<html>
  <head>
    <% include partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=6rvizoxhx3iyhkt9">
    <link rel="stylesheet" href="/styles/global/index.css?r=6rvizoxhx3iyhkt9">
    <link rel="stylesheet" href="/styles/global/sweetalert.css?r=6rvizoxhx3iyhkt9">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include partials/css.ejs %>
    <link rel="stylesheet" href="/styles/home/index.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->

    <script src="//cdn.optimizely.com/js/3232680403.js"></script>
  </head>

  <body>
    <%- body %>
    <% include partials/footer.ejs %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include partials/config.ejs %>
    <% include partials/javascript.ejs %>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    <script src="/js/global/index.js?r=6rvizoxhx3iyhkt9"></script>
    <script src="/js/global/sweetalert.min.js?r=6rvizoxhx3iyhkt9"></script>
    <!--SCRIPTS END-->
  </body>
</html>
