<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>
    <% include ../partials/css.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css?r=tx9uy8ydn8aug14i">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include ../partials/css.ejs %>
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>

    <!--SCRIPTS-->
    <script src="/min/production.min.js?r=tx9uy8ydn8aug14i"></script>
    <!--SCRIPTS END-->
  </body>
</html>
