<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>
    <% include ../partials/css.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=jgxwpa6o1kh85mi">
    <link rel="stylesheet" href="/styles/global/index.css?r=jgxwpa6o1kh85mi">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
