<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>
    <% include ../partials/css.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=c0c197wy649ara4i">
    <link rel="stylesheet" href="/styles/global/index.css?r=c0c197wy649ara4i">
    <link rel="stylesheet" href="/styles/global/sweetalert.css?r=c0c197wy649ara4i">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include ../partials/css.ejs %>
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>

    <!--SCRIPTS-->
    <script src="/js/global/sweetalert.min.js?r=c0c197wy649ara4i"></script>
    <!--SCRIPTS END-->
  </body>
</html>
