<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>
    <% include ../partials/css.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=4hwsh6csyulyp66r">
    <link rel="stylesheet" href="/styles/global/index.css?r=4hwsh6csyulyp66r">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js?r=4hwsh6csyulyp66r"></script>
    <!--SCRIPTS END-->
  </body>
</html>
