<!DOCTYPE html>
<html>
  <head>
    <% include partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=i52cn8la9ovl5wmi">
    <link rel="stylesheet" href="/styles/global/index.css?r=i52cn8la9ovl5wmi">
    <link rel="stylesheet" href="/styles/global/sweetalert.css?r=i52cn8la9ovl5wmi">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include partials/css.ejs %>
    <link rel="stylesheet" href="/styles/modal/index.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <div class="background <%= template.replace(/\//g, "_") + ' ' + template.split("/")[0] %>"></div>
    <div class="container">
      <%- body %>
    </div>
    <% include partials/footer.ejs %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include partials/config.ejs %>
    <% include partials/javascript.ejs %>
    <script src="/js/modal/index.js?r=<%= random %>"></script>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    <script src="/js/global/sweetalert.min.js?r=i52cn8la9ovl5wmi"></script>
    <!--SCRIPTS END-->
  </body>
</html>
