<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta.ejs %>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/global/background.css?r=jgxwpa6o1kh85mi">
    <link rel="stylesheet" href="/styles/global/index.css?r=jgxwpa6o1kh85mi">
    <!--STYLES END-->

    <!--STYLES CUSTOM-->
    <% include ../partials/css.ejs %>
    <link rel="stylesheet" href="/styles/projects/index.css?r=<%= random %>">
    <!--STYLES CUSTOM END-->
  </head>

  <body>
    <div class="background <%= template.replace(/\//g, "_") + ' ' + template.split("/")[0] %>"></div>
    <div class="container">
      <% include ../projects/header.ejs %>
      <%- body %>
      <% include ../partials/footer.ejs %>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS CUSTOM-->
    <% include ../partials/config.ejs %>
    <% include ../partials/javascript.ejs %>
    <script src="/js/projects/index.js?r=<%= random %>"></script>
    <!--SCRIPTS CUSTOM END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
