<div class="footer">
  <a href="/">Home</a>
  •
  <a target="_blank" href="/privacy" target="_blank">Privacy</a>
  •
  <a target="_blank" href="/terms" target="_blank">Terms of Use</a>
  •
  <a target="_blank" href="//docs.copylot.io/discuss/cat/need-help">Contact Us</a>
</div>
