<div class="footer">
  <a href="/">Home</a>
  •
  <a class="docs-link" target="_blank" href="//docs.copylot.io" target="_blank">Docs</a>
  •
  <a class="privacy-link" target="_blank" href="/privacy" target="_blank">Privacy</a>
  •
  <a class="tos-link" target="_blank" href="/terms" target="_blank">TOS</a>
  •
  <a class="contact-link" href="mailto:team@copylot.io">Contact</a>
</div>
