<div class="container">
  <a href="/" class="logo"><%= siteName %></a>
  <div class="modal">
    <div class="message">Your New Password</div>
    <div class="submessage">
      Please enter a new secure alphanumeric password<br>
      that is at least 6 characters long.
    </div>
    <form action="/reset">
      <input type="hidden" name="_csrf" value="<%= _csrf %>">
      <input type="password" class="input" name="password" placeholder="Password" step="1" autofocus required>
      <input type="submit" class="button" value="Change Password">
    </form>
  </div>
</div>
