<div class="hero background home">
  <div class="rocket"></div>
  <div class="rocket2"></div>
  <div class="header">
    <a href="/" class="logo"><%= siteName %></a>
  </div>
  <div class="container">
    <div class="message">Empower Your Biz Team</div>
    <div class="submessage">
      CoPylot gives you control over your in-app text so your<br>
      developers can get back to the problems that matters.
    </div>
    <form class="form" action="/beta" method="POST">
      <div class="inputs">
        <input class="input" type="text" name="name" placeholder="YOUR NAME" required step="1" autofocus />
        <input class="input" type="email" name="email" placeholder="AND EMAIL ADDRESS" required step="2" />
        <button class="button" type="submit">
          Join Beta
          <span class="fa fa-arrow-right"></span>
        </button>
        <div class="clear"></div>
      </div>
    </form>
    <div class="video">
     <iframe src="https://www.youtube.com/embed/zmXSRUrZ4II?player=html5" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="information">
  <div class="section take-control">
    <div class="header">Take control of your in-app text</div>
    <div class="items">
      <div class="item storage">
        <div class="icon fa fa-cloud"></div>
        <div class="title">Storage</div>
        <div class="text">
          Keep your all in-app<br>
          text in one place. No<br>
          more word docs!
        </div>
      </div>
      <div class="item instant">
        <div class="icon fa fa-flash"></div>
        <div class="title">Instant Update</div>
        <div class="text">
          Deploy your changes<br>
          without resubmitting<br>
          to the App Store.
        </div>
      </div>
      <div class="item variables">
        <div class="icon fa fa-toggle-on"></div>
        <div class="title">Variables</div>
        <div class="text">
          Your apps are dynamic,<br>
          and your text should<br>
          be to.
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="section take-control">
    <div class="header">Sign Up For The Beta Today!</div>
    <div class="message">Are you ready to empower your biz team?</div>
    <form class="form" action="/beta" method="POST">
      <div class="inputs">
        <input class="input" type="text" name="name" placeholder="YOUR NAME" required step="1" autofocus />
        <input class="input" type="email" name="email" placeholder="AND EMAIL ADDRESS" required step="2" />
        <button class="button" type="submit">
          Join Beta
          <span class="fa fa-arrow-right"></span>
        </button>
        <div class="clear"></div>
      </div>
    </form>
  </div>
</div>
