<div class="hero background home">
  <div class="rocket"></div>
  <div class="rocket2"></div>
  <div class="header">
    <a href="/" class="logo"><%= siteName %></a>
  </div>
  <div class="container">
    <div class="message">Now Anyone Can Manage In-App Text</div>
    <div class="submessage">
      Store, Manage, and Deploy text to your apps on the fly.<br>
      Why spend development time editing text?
    </div>
    <form class="form" action="/beta" method="POST">
      <div class="inputs">
        <input class="input name" type="text" name="name" placeholder="YOUR NAME" required step="1" autofocus />
        <input class="input email" type="email" name="email" placeholder="AND EMAIL ADDRESS" required step="2" />
        <button class="button" type="submit">
          Join Beta
          <span class="fa fa-arrow-right"></span>
        </button>
        <div class="clear"></div>
      </div>
    </form>
    <div class="video">
     <iframe src="https://www.youtube.com/embed/zmXSRUrZ4II?player=html5" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="information">
  <div class="section take-control">
    <div class="header">Take control of your in-app text</div>
    <div class="items">
      <div class="item storage">
        <div class="icon fa fa-cloud"></div>
        <div class="title">Storage</div>
        <div class="text">
          Keep your all in-app<br>
          text in one place. No<br>
          more word docs!
        </div>
      </div>
      <div class="item instant">
        <div class="icon fa fa-flash"></div>
        <div class="title">Instant Update</div>
        <div class="text">
          Deploy your changes<br>
          without resubmitting<br>
          to the App Store.
        </div>
      </div>
      <div class="item variables">
        <div class="icon fa fa-toggle-on"></div>
        <div class="title">Variables</div>
        <div class="text">
          Your apps are dynamic,<br>
          and your text should<br>
          be too.
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="section info">
    <div class="header">More About CoPylot</div>
    <div class="paragraph">
      <strong>Copylot manages all your iOS text from a dashboard.</strong><br>
      Instead of waiting on Apple to review changes, a product manager can go<br>
      in and instantly edit and deploy in-app text. Instead of pinging a developer<br>
      to edit the code, marketing can implement the new brand language from<br>
      their browser. You can implement both static and dynamic text and it all<br>
      happens at the right time for your users.
      <br><br>
      See all your text in one place and change it whenever you want to<br>
      whatever you want.
    </div>
  </div>
  <div class="section take-control">
    <div class="header">Sign Up For The Beta Today!</div>
    <div class="message">Are you ready to empower your biz team?</div>
    <form class="form" action="/beta" method="POST">
      <div class="inputs">
        <input class="input name" type="text" name="name" placeholder="YOUR NAME" required step="1" autofocus />
        <input class="input email" type="email" name="email" placeholder="AND EMAIL ADDRESS" required step="2" />
        <button class="button" type="submit">
          Join Beta
          <span class="fa fa-arrow-right"></span>
        </button>
        <div class="clear"></div>
      </div>
    </form>
  </div>
</div>
