<div class="container">
  <div class="message">Welcome!</div>
  <div class="submessage">
    You will receive an email soon from<br>
    one of our founders.
  </div>
  <div class="addthis addthis_sharing_toolbox" data-url="https://www.copylot.io"></div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b677dd55cb12c6" async="async"></script>
