@import "../compless/all";

.container {
  width: 1050px;
  margin: 15px auto 0;

  & > .banner {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: #ff8181;
    font-weight: bold;
    display: block;
  }

  @import "./header";

  .modal {
    background: #FFFFFF;
    overflow: hidden;
    position: relative;

    .border-radius(4px);
    .box-shadow(~"0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44)");


    @import "./modal/index";
  }

  .shadow-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 3;

    .box-shadow(inset 0 1px 2px rgba(14,41,57,0.15));
  }
  .shadow-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 3;

    .box-shadow(inset 0 -1px 2px rgba(14,41,57,0.15));
  }
}

.footer {
  position: relative;
  padding-top: 10px;
}
