<a href="/" class="logo">
  <%= siteName %>
  <sup>Beta</sup>
</a>
<div class="modal">
  <div class="message">Thanks!</div>
  <div class="submessage">
    Your email has been verified.<br>
    Open up the dashboard to start working!
  </div>
  <% if(user) { %>
    <a href="/projects" class="button">Open Dashboard</a>
  <% } else { %>
    <a href="/login" class="button">Login In</a>
  <% } %>
</div>
