<a href="/" class="logo"><%= siteName %></a>
<div class="modal">
  <div class="message">Thanks!</div>
  <div class="submessage">
    Your email has been verified.<br>
    Open up the dashboard to start working!
  </div>
  <a href="/reports" class="button">Open Dashboard</a>
</div>
