@import "../compless/all";

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;

  .logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: 900;
    padding-left: 40px;
    float: left;

    background-image: url("/images/logo.white.png?r=`Math.round(Math.random()*100)`");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;

    sup {
      font-size: 12px;
      vertical-align: super;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .login {
    float: right;
    padding: 5px 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255,255,255,0.45);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      border: solid 1px rgba(255,255,255,0.8);

      &:active {
        border: solid 1px rgba(255,255,255,1);
      }
    }

    .border-radius(5px);
    .box-sizing(border-box);
  }

  .register {
    float: right;
    padding: 5px 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(255,255,255,0.2);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      border: solid 1px rgba(255,255,255,0.4);

      &:active {
        border: solid 1px rgba(255,255,255,0.6);
      }
    }

    .border-radius(5px);
    .box-sizing(border-box);
  }
}
